
.hydstart-home-dialog {
    .hydstart-card-world-header {
        display: flex;
        align-items: center;
        gap: 10px;

        .hydstart-card-world-header__status {
            $card-world-header-value-status: 14px;
            width: $card-world-header-value-status;
            height: $card-world-header-value-status;
            background-color: var(--home-background-status-unknown);
            border-radius: 50%;
        }

        .hydstart-card-world-header__title {
            display: flex;
            align-items: baseline;
            gap: 12px;
            font-size: 28px;
            font-weight: 600;
        }

        .hydstart-card-world-header__codename {
            color: var(--color-text--weaken);
            font-size: 22px;
            font-family: 'Site Wordmark Font';
            font-weight: normal;
        }
    }

    .hydstart-card-world-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .hydstart-card-world-overview-wrapper {
            display: flex;
            gap: 3rem;
            flex-wrap: wrap;

            .hydstart-card-world-overview {
                display: flex;
                flex-direction: column;
                gap: 4px;

                &.hydstart-card-world-overview--related {
                    flex: 1;

                    .hydstart-card-world-value {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        row-gap: 9px;
                        column-gap: 12px;
                        flex-wrap: wrap;

                        a {
                            color: var(--color-text);
                            transition: opacity 250ms ease;

                            &:hover {
                                opacity: 0.6;
                            }

                            &::before {
                                content: '#';
                            }
                        }
                    }
                }
            }
        }

        .hydstart-card-world-map {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .hydstart-card-world-label {
            display: flex;
            align-items: center;
            gap: 2px;
            color: var(--color-text--subtle);
            font-size: 16px;
            padding: 2px 4px;

            .material-icons-outlined {
                display: block;
                font-size: 16px;
            }
        }

        .hydstart-card-world-value {
            font-size: 54px;
            line-height: 1;

            .weaken {
                font-size: 28px;
            }
        }

        iframe {
            width: 100%;
            height: 100%;
            min-height: 300px;
            margin-top: 4px;
            border-radius: 12px;
            background-color: var(--color-surface-3);
            user-select: none;
        }
    }
}